body {
    background-color: rgb(113, 113, 185);
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.container {
    align-items: center;
    text-align: center;
}

.scores {
    font-weight: bold;
    color: black;
}
.navigate {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn {
    font-weight: bold;
    background: lightblue;
    cursor: pointer;
}

.results {
    text-align: center;
}
.question-text {
    text-align: left;
    padding-left: 250px;
    padding-top: 20px;
}

.timer {
    text-align: right;
}
.btn:hover {
    background-color: lightgray;
}
.hide {
    display:none;
}
ul {
    text-align: left;
    padding-left: 250px;
}
li {
    display: absolute;
    text-align: left;
    list-style-type: none;
    font-size: 24px;
}

.score-board {
    font-size: 40px;
}